.form {
    padding: 30px;
    max-width: 800px;
    position: relative;
    max-height: 100vh;

}

.form-body {
    border-radius: 8px;
    position: relative;
    padding: 40px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding-top: 80px;
    gap: 20px;

}

.input-form {
    min-width: 320px !important;
}

.form-footer {
    /* display: flex;
    margin-top: 20px;
    max-width: 730px;
    justify-content: center */
    position: absolute;
    bottom: 20px;
    right: 90%;
    left: 40%;
    /* margin-left: auto; */

}


@media (max-width:768px) {
    .form-body {
        display: flex;
        flex-wrap: wrap;
    }
}

.form-title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.right-container {

    margin-right: 10px;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    max-height: 310px;
    max-width: 800px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange::before {
    content: "";
    padding: 1px 7px;
    border-radius: 50%;
    background-color: orange;
    margin-right: 2px;
    font-size: 9px;
}

.details>span {
    margin-right: 10px;
    font-size: 13px;

}

.blue::before {
    content: "";
    padding: 1px 7px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.651);
    margin-right: 2px;
    font-size: 9px;

}

.green::before {
    content: "";
    padding: 1px 7px;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.596);
    margin-right: 2px;
    font-size: 9px;

}

.yellow::before {
    content: "";
    padding: 1px 7px;
    border-radius: 50%;
    background-color: gold;
    margin-right: 2px;
    font-size: 9px;

}


.right-container-header>h3 {
    margin-bottom: 10px;
}


@media (max-width:768px) {
    .input-form {
        min-width: 250px !important;
    }

}
.radio{
    padding-top: 10px !important;
}